<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="box mt-5">
    <%= render @article %>
    <div class="buttons mt-4">
      <%= link_to "Edit this article", edit_admin_article_path(@article), class: "button is-primary has-text-white" %>
      <%= link_to "Back to articles", admin_articles_path, class: "button is-primary is-outlined has-text-primary"  %>
      <% if policy(Article).destroy? %>
        <%= button_to "Destroy this article", admin_article_path(@article), method: :delete, :class => 'button is-danger has-text-white'%>
      <% end %>
    </div>
  </div>
</div>











