<div class="columns">
  <div class="column">
    <%= render partial: 'featured'%>    
  </div>
</div>
<div class="columns is-multiline">
    <% @articles.each do |article| %>         
        <div class="column is-half">
          <div class="small-rectangle">
            <div class="columns is-mobile">
              <div class="column">
                <h3 class="card-title mb-3"><%= article.title %></h3>
                <p class="description"><%= article.body %></p>
              </div>
              <div class="column is-narrow">
                <div class="card-image">
                  <%= image_tag(article.picture.attached? ? article.picture : 'battlegrounds.svg', class: 'card-image') %>
                </div>
              </div>
            </div>
            <div class="columns is-mobile">
              <div class="column pt-0 is-flex is-justify-content-space-between">
                <p class="src-date"><%= article.source %></p>
                <p class="src-date"><%= Time.zone.now.to_formatted_s(:short) %></p>
              </div>
              <div class="column pt-0">
                <div class="is-flex">
                  <div class="is-flex">
                    <div class="vector">
                      <%= image_tag 'share.svg'%>          
                    </div>
                    <p class="vector-text ml-2 mr-4">Share</p>
                  </div>
                  <div class="is-flex">
                    <div class="vector">
                      <%= image_tag 'pocket.svg'%>          
                    </div>
                    <p class="vector-text ml-2">Read Later</p> 
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
    <% end %>
 </div>