 <div class="container">
  <h1 class="has-text-centered">Engine News</h1>
    <div class="columns is-mobile is-multiline">
     <div class="column">
      <div class="card card-1">
       <div class="card-content">
        <div class="media is-justify-content-space-between">
         <div>
          <p class="title">Bitcoin</p>
          <p class="subtitle">BTC</p>
         </div>
         <div>
          <figure class="image">
           <%= image_tag "Bitcoin.png" %>
          </figure>
         </div>
        </div>
        <div class="is-flex is-justify-content-space-between">
         <div class="content">
          <p class="value">1,132,151</p>
         </div>
        <div class="percentage is-flex">
         <p class="mt-1 mr-1">2,35%</p>
         <div class="icon">
         <i class="fa-solid fa-caret-up"></i> 
         </div>
        </div>
        </div>
       </div>
      </div>
     </div> 
     <div class="column">
      <div class="card card-2">
       <div class="card-content">
        <div class="media is-justify-content-space-between">
         <div>
          <p class="title">Ethereum</p>
          <p class="subtitle">ETH</p>
         </div>
         <div>
          <figure class="image">
           <%= image_tag "Ethereum.png" %>
          </figure>
         </div>
        </div>
        <div class="is-flex is-justify-content-space-between">
         <div class="content">
          <p class="value">1,132,151</p>
         </div>
        <div class="percentage is-flex">
         <p class="mt-1 mr-1">2,35%</p>
         <div class="icon">
         <i class="fa-solid fa-caret-up"></i> 
         </div>
        </div>
        </div>
       </div>
      </div>
     </div> 
     <div class="column">
      <div class="card card-3">
       <div class="card-content">
        <div class="media is-justify-content-space-between">
         <div>
          <p class="title">Dolar Binance</p>
          <p class="subtitle">USD</p>
         </div>
         <div>
          <figure class="image">
           <%= image_tag "Binance.png" %>
          </figure>
         </div>
        </div>
        <div class="is-flex is-justify-content-space-between">
         <div class="content">
          <p class="value">1,132,151</p>
         </div>
        <div class="percentage is-flex">
         <p class="mt-1 mr-1">2,35%</p>
         <div class="icon">
         <i class="fa-solid fa-caret-up"></i> 
         </div>
        </div>
        </div>
       </div>
      </div>
     </div> 
     <div class="column">
      <div class="card card-4">
       <div class="card-content">
        <div class="media is-justify-content-space-between">
         <div>
          <p class="title">Dolar Blue</p>
          <p class="subtitle">USD</p>
         </div>
         <div>
          <figure class="image">
           <%= image_tag "GreenBitcoin.png" %>
          </figure>
         </div>
        </div>
        <div class="is-flex is-justify-content-space-between">
         <div class="content">
          <p class="value">1,132,151</p>
         </div>
        <div class="percentage is-flex">
         <p class="mt-1 mr-1">2,35%</p>
         <div class="icon">
         <i class="fa-solid fa-caret-up"></i> 
         </div>
        </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <section class="news">

     <div class="columns">
     <div class="column"></div>
      <div class="column is-two-thirds">
       <h2>Noticias más relevantes</h2>
    <div class="columns is-multiline">
    <div class="btn is-two-thirds-mobile"><div class="button is-rounded">Recientes</div></div>
    <div class="btn is-two-thirds-mobile"><div class="button is-rounded">Bitcoin</div></div>
    <div class="btn is-two-thirds-mobile"><div class="button is-rounded">Ethereum</div></div>
    <div class="btn is-two-thirds-mobile"><div class="button is-rounded">Dolar</div></div>
    <div class="btn is-two-thirds-mobile"><div class="button is-rounded">Otras</div></div>
    </div>
    <div class="column">
      <div class="rectangle is-flex">
      <div>
      <h3 class="mb-2">Samsung Galaxy F22 launched in India: Price, features, other details</h3>
      <p class="details">Samsung Galaxy F22 has been launched in India. The new smartphone has been priced in the mid-range segment. The new smartphone is powered by a MediaTek chipset and features a high refresh rate AMOLED display.</p>
      <div class="is-flex is-justify-content-space-between">
       <div class="is-flex mt-4">
        <p class="src-date mr-3">The Mint</p>
        <p class="src-date">-</p>
        <p class="src-date ml-3">15 minutes ago</p>
       </div>
       <div class="is-flex mt-4 mr-5">
        <div class="is-flex mr-6">
        <%= image_tag 'share.svg'%>
        <p class="vector-text ml-2">Share</p>
        </div>
        <div class="is-flex">
        <%= image_tag 'pocket.svg'%>
        <p class="vector-text ml-2">Read Later</p> 
        </div>
       </div>
      </div>
      </div>
      <div class="f22">
      <%= image_tag 'F22.svg'%>
      </div>
      
     </div>
     </div>
    </div>
    <div class="column"></div>
      </div>
     </div>
    </section>
    <section>
     <div class="columns">
      <div class="column"></div>
      <div class="column">
      <div class="small-rectangle p-2">
      <div class="is-flex is-justify-content-space-between">
       <div>
        <h3 class="card-title mb-3">Battlegrounds Mobile India iOS release date</h3>
        <p class="description">The reason behind their disappointment is that iPhone users have been..</p>
       </div>
       <div class="card-image">
        <%= image_tag 'battlegrounds.svg'%>
       </div>
      </div>
      <div class="footer">
         <div class="is-flex">
       <div class="is-flex mt-5 mr-6">
        <p class="src-date">Sport Biz</p>
        <p class="src-date">-</p>
        <p class="src-date">15 minutes ago</p>
       </div>
       <div class="is-flex mt-5">
        <div class="is-flex">
         <div class="vector">
        <%= image_tag 'share.svg'%>          
         </div>
        <p class="vector-text ml-2 mr-4">Share</p>
        </div>
        <div class="is-flex">
         <div class="vector">
        <%= image_tag 'pocket.svg'%>          
         </div>
        <p class="vector-text ml-2">Read Later</p> 
        </div>
       </div>
      </div>
      </div>
     </div>
      
     </div>
     <div class="column">
       <div class="small-rectangle p-2">
      <div class="is-flex is-justify-content-space-between">
       <div>
        <h3 class="card-title mb-5">Instagram working on ‘Exclusive Stories’ for subscribers</h3>
        <p class="description">Instagram could be jumping on the paid subscription..</p>
       </div>
       <div class="card-image">
        <%= image_tag 'instagram.svg'%>
       </div>
      </div>
      <div class="footer">
         <div class="is-flex">
       <div class="is-flex mt-5 mr-6">
        <p class="src-date">Sport Biz</p>
        <p class="src-date">-</p>
        <p class="src-date">15 minutes ago</p>
       </div>
       <div class="is-flex mt-5">
        <div class="is-flex">
         <div class="vector">
        <%= image_tag 'share.svg'%>          
         </div>
        <p class="vector-text ml-2 mr-4">Share</p>
        </div>
        <div class="is-flex">
         <div class="vector">
        <%= image_tag 'pocket.svg'%>          
         </div>
        <p class="vector-text ml-2">Read Later</p> 
        </div>
       </div>
      </div>
      </div>
     </div>
      </div>
     <div class="column"></div>
     </div>
     <div class="columns">
      <div class="column"></div>
      <div class="column">
      <div class="small-rectangle p-2">
      <div class="is-flex is-justify-content-space-between">
       <div>
        <h3 class="card-title-2 mb-3">Petrol, diesel prices -  July 6: Fuel prices unchanged after touching record high</h3>
        <p class="description-1">The price of petrol remained unchanged on July 6 after reaching a new record high on the previous day, according to a price notification by state-owned..</p>
       </div>
      </div>
      <div class="footer">
         <div class="is-flex">
       <div class="is-flex mt-5 mr-6">
        <p class="src-date">Sport Biz</p>
        <p class="src-date">-</p>
        <p class="src-date">15 minutes ago</p>
       </div>
       <div class="is-flex mt-5">
        <div class="is-flex">
         <div class="vector">
        <%= image_tag 'share.svg'%>          
         </div>
        <p class="vector-text ml-2 mr-4">Share</p>
        </div>
        <div class="is-flex">
         <div class="vector">
        <%= image_tag 'pocket.svg'%>          
         </div>
        <p class="vector-text ml-2">Read Later</p> 
        </div>
       </div>
      </div>
      </div>
     </div>
     </div>
     <div class="column">
       <div class="small-rectangle p-2">
      <div class="is-flex is-justify-content-space-between">
       <div>
        <h3 class="card-title mb-5">Android smartphone users alert! Remove these 9 apps now</h3>
        <p class="description mt-5">Stealer trojans were spread as harmless software..</p>
       </div>
       <div class="card-image">
        <%= image_tag 'android.svg'%>
       </div>
      </div>
      <div class="footer">
         <div class="is-flex">
       <div class="is-flex mt-4 mr-6">
        <p class="src-date">Sport Biz</p>
        <p class="src-date">-</p>
        <p class="src-date">15 minutes ago</p>
       </div>
       <div class="is-flex mt-4">
        <div class="is-flex">
         <div class="vector">
        <%= image_tag 'share.svg'%>          
         </div>
        <p class="vector-text ml-2 mr-4">Share</p>
        </div>
        <div class="is-flex">
         <div class="vector">
        <%= image_tag 'pocket.svg'%>          
         </div>
        <p class="vector-text ml-2">Read Later</p> 
        </div>
       </div>
      </div>
      </div>
     </div>
      </div>
     <div class="column"></div>
     </div>
    </section>
    <br><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
   </div>
